// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  background-color: rgb(228, 223, 223);
}
#home {
  display: inline-block;
}
#new-article {
  display: inline-block;
  position: absolute;
  right: 10px;
}
a {
  text-decoration: none;
  color: #337ab7;
}
h1, h2, p {
  font-family: "Robot Slab";
  font-weight: 400;
}
h1 {
  color: #337ab7;
}
#form {
  display: block;
}
#form-title {
  padding: 20px;
}
#form-content {
  padding: 20px;
}
textarea {
  column-count: initial;
  cursor: text;
  display: inline-block;
  text-align: start;
}
#form-btn {
  padding: 20px;
  background-color: white;
}
